* {
  font-family: Montserrat;
}
header {
  height: 60px;
}
header .container {
  height: inherit;
}
header .container a {
  color: black;
}
header .container a:hover {
  text-decoration: none;
}
main {
  background: url("https://handymatcher.com/images/HomeBG.jpg");
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 -50px 30px -10px #000000;
}
main::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 350px;
  opacity: 0.5;
  z-index: 1;
  background: black;
  /* bottom: 2030px; */
}

.heroContainer {
  position: relative;
  min-height: 350px;
  z-index: 3;
}
.hero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  padding: 25px;
}
.hero h2 {
  letter-spacing: 5px;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
}
.btn-custom {
  background-color: #ff7e4e;
  color: #fff;
}
.custom-container {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.custom-container .row div {
  padding: 2px;
}
.snd-div {
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
}
.img-2 {
  width: 80px;
}
.p-1 {
  text-align: left;
}
.h-5 {
  text-align: left;
}
.grey {
  background: #eee;
}
.myRows {
  padding: 0;
}
.myRows .container {
  padding: 50px 0;
}
.mobileShow {
  display: none;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-num {
    margin-left: 536px;
  }
  .container {
    max-width: 880px;
  }
}
@media screen and (max-width: 768px) {
  .mobileShow {
    display: block;
  }
  .hero h2 {
    letter-spacing: unset;
    font-size: unset;
    text-transform: uppercase;
    color: white;
    font-weight: 900;
  }
  .mobileBig {
    width: 100%;
    max-width: 100%;
    flex: 0 100%;
  }
  .custom-container {
    width: 90%;
  }
  .hero {
    margin-left: -19px;
  }
  .mobileHide {
    display: none;
  }
  .neww .col-md-7 {
    width: 0;
    max-width: 0;
    flex: unset;
    padding: 0;
    margin: 0;
  }
  .neww .col-md-4 {
    width: 75%;
    max-width: 75%;
    flex: unset;
  }
  .neww {
    padding-top: 5%;
  }
  .container {
    width: 100%;
  }
  #getEstimate {
    height: 70px;
  }
  .tabletTop {
    margin-top: 35px;
  }
  .footer-wrapper.footer-bg {
    height: fit-content;
  }
  .box {
    margin-top: 0;
  }
  .banner {
    background: url("https://loyalmover.nyc3.cdn.digitaloceanspaces.com/images/design.jpg")
      no-repeat scroll 0 0/100% 100%;
    padding: 20px 0;
  }
  .snd-div {
    font-size: 14px;
    margin-top: 0 !important;
  }
  .box {
    margin-left: 0;
    margin-top: 0;
  }
  #img-2 {
    width: 50px;
  }
  #hd-3 {
    font-size: 12px;
    text-align: center;
  }
  #aka {
    margin-left: 100px;
  }
  #aka-1 {
    margin-bottom: 50px;
  }
  #top-img {
    visibility: hidden;
  }
  #phone {
    text-align: center;
  }
  .img-1 {
    visibility: visible;
  }
  .center-image {
    margin-bottom: 25px;
  }
  .p-1 {
    text-align: left;
  }
  .h-5 {
    text-align: left;
  }
  .custom-f {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 8px;
  }
  .custom-n img {
    margin-top: 8px;
  }
  .myRows > div {
    display: -webkit-flex; /* Safari */
    display: flex;
  }
  .myRows div .container .row .col-md-6:not(.text-center) {
    order: 1;
    margin-bottom: 25px;
  }
  .myRows div .container .row .col-md-6.text-center {
    order: 2;
  }
  .navbar-brand {
    width: 200px !important;
    margin-left: 0;
  }
  .myRows .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .grey {
    background: unset !important;
  }
}

@media (max-width: 575.98px) {
  .myRows .container {
    padding: 0 0;
  }
  .neww .col-md-4 {
    width: 100%;
    max-width: 100%;
  }
  .titlePhone {
    font-size: 26px;
    margin-top: 7px;
    font-weight: 900;
    color: white;
  }
  #phone {
    font-size: 26px;
  }
  .custom-h1 {
    letter-spacing: 3px;
    font-weight: 800 !important;
  }
  .footer-wrapper.footer-bg {
    height: 500px;
  }
  .main-section {
    background: unset;
  }
  .snd-div {
    font-size: 14px !important;
  }
  .tabletTop {
    margin-top: 20px;
  }
  .footer-links li {
    margin-bottom: 30px;
  }
  .footer-social li a i {
    font-size: 38px;
  }
  .navbar {
    padding: 0 !important;
  }
  .neww {
    padding-top: 0 !important;
  }
}
@media (max-width: 350px) {
  .snd-div {
    font-size: 12px !important;
  }
}
#servicesTop {
  padding: 25px;
}

#servicesTop .service-block {
  background-color: #f4f5f9;
}

.service-icon {
  width: 40px;
}

.service-text {
  text-align: center;
}

.service-bottom-buttom {
  -webkit-border-radius: 4px;
  display: block;
  margin: 30px auto 0;
  padding: 8px 3px;
  width: 100%;
  text-align: center;
  letter-spacing: 0.5px;
  border: 2px solid #5486a3;
  font-size: 14px;
  font-weight: 600;
  max-width: 245px;
}

#servicesTop .col-lg-2 {
  padding: 25px;
  min-height: 85px;
  max-width: 30%;
  margin: 1.4%;
  transition: ease-in-out all 0.3s;
  cursor: pointer;
  display: inline-block;
}
#servicesTop .col-lg-2:hover {
  background: rgba(0, 0, 0, 0.2);
}
#servicesTop .col-lg-2:hover .col-2 .fa {
  color: #ec7c59;
}
#servicesTop .col-lg-2 .col-2 .fa {
  font-size: 38px;
}
@media screen and (max-width: 880px) {
  #servicesTop .col-md-6 {
    max-width: 49%;
    margin: 15px auto;
    min-height: 80px;
    max-height: 70px;
  }
  #servicesTop {
    padding: 0;
  }
}
@media screen and (max-width: 672px) {
  #servicesTop .col-sm-12 {
    max-width: 90%;
    margin: 15px auto;
    display: block;
  }
}
