.more_info_btn {
    border: 1px solid #a9a9a9;
    transition: 0.3s;
    background: #fff;
    border-radius: 4px;
    padding: 4px 16px;
    cursor: pointer;
}

.details_wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
}