.hider-place {
	position: fixed;
    width: 100%;
	height: 100%;
	background: #0000001c;
	overflow-x: scroll;
    z-index: 1000;
    top: 0%;
    left: 0%;
}

.animation-block {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	width: 700px;
	height: auto;
	border-radius: 2px;
	position: relative;
	background: white;
	color: #000000;
	font-size: 15px;
	padding: 10px;
	padding-left: 20px;	
	padding-bottom: 45px;
	z-index: 1000;
	transition: 0.6s;
	opacity: 0;
}

.showed {
	opacity: 1;
}

.animation-block p {
	font-size: 15px;
	margin: 0;
	padding: 0;
	margin-top: 10px;	
}

.block-panel {
	text-align: center;
	margin-bottom: 20px;
}

.block-panel i {
	position: absolute;
	right: 12px;
	top: 12px;
	font-size: 16px;
	color: #d10606;
	cursor: pointer;	
}

.block-panel span {
	font-weight: bold;
	font-size: 17px;
}

.animation-block table {
	margin-top: 20px;
}

.confirm-btn {
    z-index: 1;
    background: white;
    border: 1px solid #ddd;
    color: black;
    font-size: 13px;
    padding: 5px;
    cursor: pointer;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-radius: 4px;
    min-width: 100px;
    text-align: center;
    margin-bottom: 10px;
    user-select: none;
}

.confirm-btn:hover {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
	color: #3c4043;
	border-color: #b2b3b5;	
}

.panel-btn {
	position: absolute;
	bottom: 0px;
	right: 5px;
}

.close-btn {
	width: 11px;
	position: absolute;
	right: 10px;	
	cursor: pointer;
}

.pay-form-wrapper {
 	width: auto;
    height: auto;
}

.price_form {
    height: auto;
    display: flex;
    justify-content: space-around;
}

.price_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
	text-align: center;
    font-size: 8px;
    transition: 0.2s;
	width: 220px;
	height: auto;
	font-family: -apple-system,
			BlinkMacSystemFont,
			"Segoe UI",Roboto,
			"Helvetica Neue",Arial,
			"Noto Sans",sans-serif,
			"Apple Color Emoji",
			"Segoe UI Emoji",
			"Segoe UI Symbol",
			"Noto Color Emoji";
}
.price_item:hover {
	-webkit-box-shadow: -1px 0px 18px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 0px 18px -2px rgba(0,0,0,0.75);
	box-shadow: -1px 0px 18px -2px rgba(0,0,0,0.75);
}

.card_price {
	margin-top: 30px;
}

.card_adv ul {
	list-style-type: none;
	font-size: 16px;
	padding: 0;
}
.imitate_pay_btn_wrap {
    padding: 8px;
    margin: 6px 0;
}
.imitate_pay_btn {
	width: 150px;
    height: 30px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #FE4D01;
    color: white;
}

.check_mark_card {
    width: 15px;
    margin-bottom: 3px;
    margin-right: 2px;
}
.check_mark_card:hover {
	fill: red;
}

.form_wrap {
	display: flex;
	margin: 60px;
    justify-content: space-evenly;
}

.quantity_form, .state_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: auto;
}
.quantity_select, .state_select {
	padding: 5px;
    width: 140px;
    border: 1px solid #ceefea;
    border-radius: 20px;
    outline: none;
}
.chosen-container {
	color: black;
}