#siteNavBar .nav-brand .nav-link{
    max-height: 40px;
    overflow: hidden;
}
#siteNavBar .nav-brand img{
    height: 113px;
    max-height: initial;
    margin-top: -46px;
}
.center-msg{
    margin-top: 20px;
}
.abcRioButton{
    margin: 0 auto;
    width: 100% !important;
}
#googleSignInButton {
    display: inline-table;
    background: #4285f4;
    color: white;
    width: 100%;
    border-radius: 1px;
    white-space: nowrap;
}
#googleSignInButton:hover {
    cursor: pointer;
}
#googleSignInButton>span.label {
    font-weight: bold;
}
#googleSignInButton>span.icon {
    border: 1px solid #4285f4;
    background: url('/images/googleicon.png') #fff 2px 2px no-repeat;
    background-size: 30px 30px;
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
}
.signUpWithGoogleText {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5%;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #c3c3c3;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}