#siteNavBar .nav-brand .nav-link{
    max-height: 40px;
    overflow: hidden;
}
#siteNavBar .nav-brand img{
    height: 113px;
    max-height: initial;
    margin-top: -46px;
}
.center-msg{
    margin-top: 20px;
}
#siteNavBar .nav-brand{
    margin-right: 25px;
}
.leadForm{
    margin-top: 25px;
    padding: 15px 5px;
}
.leadForm .leadFormInputs{
    padding: 15px;
}
/* ===== Lead ===== */
#myLeadsTable .col-4 .leadContainer{
    padding: 15px;
    text-align: center;
    margin-top: 25px;
    color: #f3f3f4!important;
    background: #343a40 !important;
    border-radius: 25px;
    border:1px solid;
}
#myLeadsTable .col-4 .leadContainer *{
    margin-bottom: 5px;
}
#myLeadsTable .col-4 .leadContainer * label{
    font-weight: bold;
    margin-right: 3px;
}
#myLeadsTable .col-4 .leadContainer .leadHeader{
    font-weight: bold;
}


.pay-btn, .insert-btn {
    color: white;
    border-radius: 4px;
    padding: 4px 45px;
    font-size: 17px;
}

.pay-btn {
    background: #CE5602;
    border: solid 1px #CE5602;
}
.pay-btn:hover {
    color: #fbecb8;
}

.insert-btn {
    background: #00C537;
    border: solid 1px #00C537;
}
.insert-btn:hover {
    color: #eff5f1;
}

.statusLeadSelect {
    border-radius: 5px;
    padding: 4px 16px;
    cursor: pointer;
    outline: none;
}
